/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #2487ce;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
.background-img{
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.icon-size{
  font-size: 30px;
}
.filip-fontcolor{
  color: rgb(20, 55, 88);
}
.old_font{
  font-family: "Raleway";
}
.footer_font{
  font-size: 11px;
}
.text-dark-blue{
  color: #2d2d6d;
}

@media screen and (max-width:576px){
  .footer_padding_xs {
    padding: 35px;
  }

}